**/*.swp
**/*.jld
**/*.jld2
**/*.png
**/*.mp4
**/*.mem
**/*.pdf
**/.nfs*
**/*.cov

docs/build/
docs/site/
docs/src/literated
coverage/

**/Manifest.toml

# Model output
**/*.jld
**/*.jld2

# MacOS stuff
*.DS_Store

# vs code
*.vscode
