name = "FourierFlows"
uuid = "2aec4490-903f-5c70-9b11-9bed06a700e1"
keywords = ["julia", "PDE", "partial differential equations", "spectral methods"]
license = "MIT"
authors = ["Gregory L. Wagner <wagner.greg@gmail.com>", "Navid C. Constantinou <navidcy@gmail.com>"]
description = "Tools for solving partial differential equations on periodic domains using Fourier-based pseudospectral methods."
documentation = "https://fourierflows.github.io/FourierFlowsDocumentation/stable/"
repository = "https://github.com/FourierFlows/FourierFlows.jl"
version = "0.6.6"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
CUDA = "^1, ^2"
DocStringExtensions = "^0.8"
FFTW = "^1"
Interpolations = "^0.12, ^0.13"
JLD2 = "^0.1, ^0.2, ^0.3"
Reexport = "^0.2"
julia = "^1.5"

[extras]
Coverage = "a2441757-f6aa-5fb2-8edb-039e3f45d037"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Coverage", "Printf", "Test"]
