name = "FourierFlows"
uuid = "2aec4490-903f-5c70-9b11-9bed06a700e1"
keywords = ["julia", "PDE", "partial differential equations", "spectral methods"]
license = "MIT"
authors = ["Gregory L. Wagner <wagner.greg@gmail.com>", "Navid C. Constantinou <navidcy@gmail.com>"]
description = "Tools for solving partial differential equations on periodic domains using Fourier-based pseudospectral methods."
documentation = "https://fourierflows.github.io/FourierFlows.jl/dev/"
repository = "https://github.com/FourierFlows/FourierFlows.jl"
version ="0.3.1"
versions = ["0.0.1", "0.0.2", "0.1.0", "0.1.1", "0.1.2", "0.1.3", "0.2.0", "0.2.1", "0.2.2", "0.3.0", "0.3.1"]

[deps]
Coverage = "a2441757-f6aa-5fb2-8edb-039e3f45d037"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
FFTW = "≥ 0.2.4"
Interpolations = "≥ 0.8.0"
JLD2 = "≥ 0.1.2"
julia = "≥ 0.7.0"

[extras]
CuArrays = "3a865a2d-5b23-5a0f-bc46-62713ec82fae"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "CuArrays"]
