name: Julia TagBot
on:
  schedule:
    - cron: 0 * * * *
jobs:
  TagBot:
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1.10.0
        with:
          token: ${{ secrets.TAGBOT_PAT }}
